{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/lightslider.min.css' %}">
{% endblock css %}

{% block contenido%}

<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="image-container" href="{% url 'base' %}"><img src="{% static empresa.logo.url %}" alt=""></a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="{% url 'base' %}">Regresar al inicio</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Detalles de la propiedad {{ item.nombre }} </h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">   
        
        <div class="clearfix padding-top-40" >
            
            <div class="col-md-8 single-property-content prp-style-1 ">
                <div class="row">
                    <div class="light-slide-item">            
                        <div class="clearfix">
                            <div class="favorite-and-print">
                                <a class="printer-icon " href="javascript:window.print()">
                                    <i class="fa fa-print"></i> 
                                </a>
                            </div> 
                            
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                {% for foto in item.imagen.all  %}
                                <li data-thumb="{% static foto.imagen.url %}"> 
                                    <img src="{% static foto.imagen.url %}" />
                                </li>
                                {% endfor %}                           
                            </ul>
                            
                        </div>
                    </div>
                </div>
                
                <div class="single-property-wrapper">
                    <div class="single-property-header">                                          
                        <h1 class="property-title pull-left">{{ item.nombre }}</h1>
                        <span class="property-price pull-right">{{ item.precio }}</span>
                    </div>
                    
                    <div class="property-meta entry-meta clearfix ">   
                        
                        <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                            <span class="property-info-icon icon-tag">                                        
                                <img src="{% static 'img/icon/sale-orange.png' %}">
                            </span>
                            <span class="property-info-entry">
                                <span class="property-info-label">Estado</span>
                                {% if item.estado  %}
                                <span class="pull-left text-danger"> 
                                    VENDIDO 
                                </span>
                                {% else %}
                                <span class="pull-left text-success">
                                    DISPONIBLE 
                                </span>
                                {% endif %}
                                
                            </div>
                            
                            
                            <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                <span class="property-info icon-area">
                                    <img src="{% static 'img/icon/room-orange.png' %}">
                                </span>
                                <span class="property-info-entry">
                                    <span class="property-info-label">Area</span>
                                    <span class="property-info-value">{{ item.espacio }} m²</span>
                                </span>
                            </div>
                            
                            <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                <span class="property-info-icon icon-bed">
                                    <img src="{% static 'img/icon/bed-orange.png' %}">
                                </span>
                                <span class="property-info-entry">
                                    <span class="property-info-label">Cuartos</span>
                                    <span class="property-info-value">3</span>
                                </span>
                            </div>
                            
                            
                            
                            <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                <span class="property-info-icon icon-garage">
                                    <img src="{% static 'img/icon/shawer-orange.png' %}">
                                </span>
                                <span class="property-info-entry">
                                    <span class="property-info-label">Baños</span>
                                    <span class="property-info-value">{{ item.baño }}</span>
                                </span>
                            </div>
                            
                            
                            
                            {% if item.garaje %}
                            <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                <span class="property-info-icon icon-bed">
                                    <img src="{% static 'img/icon/cars-orange.png' %}">
                                </span>
                                <span class="property-info-entry">
                                    <span class="property-info-label">Parqueadero</span>
                                </span>
                            </div>
                            {% endif %}
                            
                            
                        </div>
                        <!-- .property-meta -->
                        
                        <div class="section">
                            <h4 class="s-property-title">Descripcion</h4>
                            <div class="s-property-content">
                                <p class="text-justify">{{ item.descripcion_general }}</p>
                            </div>
                        </div>
                        <!-- End description area  -->
                        
                        <div class="section additional-details">
                            
                            <h4 class="s-property-title">Detalles Adicionales</h4>
                            
                            <ul class="additional-details-list clearfix">
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Piscina</span>
                                    {% if item.psicina %}
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">SI</span>
                                    {% else %}
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">NO</span>
                                    {% endif %}
                                    
                                </li>
                                
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Antiguedad</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{  item.antiguedad }}</span>
                                </li>
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Frente al mar</span>
                                    
                                    {% if item.frente_al_mar %}
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">SI</span>
                                    {% else %}
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">NO</span>
                                    {% endif %}
                                </li>
                                
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Vista</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ item.vista }}</span>
                                </li>
                                
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Detalles del parqueadero</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ item.detalles_parqueadero }}</span>
                                </li>
                                
                                
                            </ul>
                        </div>  
                        <!-- End additional-details area  -->
                        
                        <div class="section property-features">      
                            
                            <h4 class="s-property-title">Intereses cercanos</h4>                            
                            <ul>
                                {% for cercano in item.cercanias.all  %}
                                <li><a href="{{ cercano.link }}" target="_blank">{{cercano.nombre}}</a></li>   
                                
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End features area  -->
                        
                        <div class="section property-video"> 
                            <h4 class="s-property-title">Video de la propiedad</h4> 
                            <div class="video-thumb">
                                <a class="video-popup" title="Virtual Tour">
                                    <iframe width="700" height="480" src="{{ item.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
                                </a>
                            </div>
                        </div>
                        <!-- End video area  -->
                        
                        
                        
                        <div class="section property-share"> 
                            <h4 class="s-property-title">Comparte con tus conocidos o amigos en redes sociales!</h4> 
                            <div class="roperty-social">
                                <ul>                          
                                    <li><a title="Share this on facebok " href="https://www.facebook.com"><img src="{% static 'img/social_big/facebook_grey.png' %}"></a></li> 
                                    <li><a title="Share this on twitter " href="https://www.twitter.com"><img src="{% static 'img/social_big/twitter_grey.png' %}"></a></li> 
                                    <li><a title="Share this on linkedin " href="https://www.instagram.com"><img src="{% static 'img/social_big/linkedin_grey.png' %}"></a></li>                                        
                                </ul>
                            </div>
                        </div>
                        <!-- End video area  -->
                        
                    </div>
                </div>
                
                
                <div class="col-md-4 p0">
                    <aside class="sidebar sidebar-property blog-asside-right">
                        <div class="dealer">
                            <div class="dealer-content">
                                <div class="inner-wrapper">
                                    
                                    <div class="clear">
                                        <div class="col-xs-4 col-sm-4 ">
                                            
                                            <img src="{% static item.vendedor.img.url %}" class="img-rounded">
                                            
                                        </div>
                                        <div class="col-xs-8 col-sm-8 ">
                                            <h3 class="dealer-name">
                                                <a href="">{{ item.vendedor.nombre}} {{  item.vendedor.apellido  }}</a>
                                                <span>Contacto directo</span>        
                                            </h3>
                                            <div class="dealer-social-media">
                                                <a class="twitter" target="_blank" href="{{ item.vendedor.twitter }}">
                                                    <i class="fa fa-twitter-square"></i>
                                                </a>
                                                <a class="facebook" target="_blank" href="{{ item.vendedor.facebook }}">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                
                                                <a class="linkedin" target="_blank" href="{{ item.vendedor.linkedin }}">
                                                    <i class="fa fa-linkedin"></i>
                                                </a> 
                                                <a class="instagram" target="_blank" href="{{ item.vendedor.instagram }}">
                                                    <i class="fa fa-instagram"></i>
                                                </a>       
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="clear">
                                        <ul class="dealer-contacts">                                       
                                            <li><i class="pe-7s-map-marker strong"> </i> {{ item.vendedor.oficina }}</li>
                                            <li><i class="pe-7s-mail strong"> </i> {{ item.vendedor.correo }}</li>
                                            <li><i class="pe-7s-call strong"> </i> {{ item.vendedor.telefono }} | {{ item.vendedor.celular }}</li>
                                        </ul>
                                        <p>{{ item.vendedor.mensaje }}</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Propiedades Recomendadas</h3>
                            </div>
                            <div class="panel-body recent-property-widget">
                                <ul>
                                    {% for recomendado in recomendados  %}
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                            <a href="{% url 'item-detail' recomendado.pk %}"><img src="{% static recomendado.img_principal.url %}"></a>
                                            <span class="property-seeker">
                                                <b class="b-1">R</b>
                                            </span>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                            <h6> <a href="{% url 'item-detail' recomendado.pk %}">{{ recomendado.direccion }} </a></h6>
                                            <span class="property-price">{{ recomendado.precio }}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>                          
                        
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ads her  </h3>
                            </div>
                            <div class="panel-body recent-property-widget">
                                <img src="{% static 'img/ads.jpg' %}">
                            </div>
                        </div>
                        
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                            <div class="panel-heading">
                                <h3 class="panel-title">Filtro de busqueda</h3>
                            </div>
                            <div class="panel-body search-widget">
                                <form method="GET" action="{% url 'filtro' %}" class="form-inline"> 
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">                               
                                                <input type="text" class="form-control" name="direccion" placeholder="Buscar por dirección...">
                                            </div>
                                        </div>
                                    </fieldset>
                                    
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                
                                                <select id="tipo_inmueble" class="selectpicker" name="tipo_vivienda" data-live-search="true" data-live-search-style="begins" title="Tipo de vivienda">
                                                    {% for tipo in tipos_inmueble  %}
                                                    <option value="{{ tipo.pk }}">{{ tipo.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                
                                                <select id="basic" class="selectpicker show-tick form-control">
                                                    <option> -Status- </option>
                                                    
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    
                                    <fieldset class="padding-5">
                                        
                                        <div class="col-xs-12">
                                            <label for="price-range">Rango de precio ($):</label>
                                            <input type="text" class="span2" name="precio" data-slider-min="0" 
                                            data-slider-max="3000000000" data-slider-step="1000000" 
                                            data-slider-value="[0,3000000000]" id="price-range"  ><br />
                                            <b class="pull-left color text-success"><a  href="{% url 'item-detail' mas_varato.pk %}"> Más economico (Actual): {{ mas_varato.precio }}</a> </b>
                                            <br>
                                            <b class="pull-right color text-success"><a href="{% url 'item-detail' mas_costoso.pk %}">Más costoso (Actual):{{ mas_costoso.precio }}</a></b>                                             
                                        </div>
                                        
                                        <div class="col-xs-12">
                                            <label for="property-geo">Area (m²)</label>
                                            <input type="text" name="espacio" class="span2" data-slider-min="0" 
                                            data-slider-max="12000" data-slider-step="5" 
                                            data-slider-value="[0,12000]" id="property-geo" ><br />
                                            <b class="pull-left color">40m</b> 
                                            <b class="pull-right color">12000m</b>                                               
                                        </div>    
                                    </fieldset>
                                    
                                    <button class="btn btn-block btn-success" type="submit">Buscar</button>                                
                                    
                                    
                                </form>
                            </div>
                        </div>
                        
                    </aside>
                </div>
            </div>
            
        </div>
    </div>
    
    
    
    {% endblock  %}
    
    {% block js %}
    
    <script>
        $(document).ready(function () {
            
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
</body>

{% endblock js %}