{% extends 'base.html' %}
{% load static %}


{% block contenido %}

<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="image-container" href="{% url 'base' %}"><img src="{% static empresa.logo.url %}" alt=""></a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="{% url 'base' %}">Regresar al inicio</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Resultados de la busqueda</h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container"> 
        <div class="row  pr0 padding-top-40 properties-page">
            <div class="col-md-12 padding-bottom-40 large-search"> 
                <div class="search-form wow pulse">
                    <form method="GET" action="{% url 'filtro' %}" class="form-inline">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="direccion" placeholder="Buscar por dirección...">
                            </div>
                            <div class="col-md-6">                                   
                                <select id="tipo_inmueble" class="selectpicker" name="tipo_vivienda" data-live-search="true" data-live-search-style="begins" title="Tipo de vivienda">
                                    {% for tipo in tipos_inmueble  %}
                                    <option value="{{ tipo.pk }}">{{ tipo.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-md-12 ">
                            <div class="search-row">   
                                
                                <div class="col-sm-6">
                                    <label for="price-range">Rango de precio ($):</label>
                                    <input type="text" class="span2" name="precio" data-slider-min="0" 
                                    data-slider-max="3000000000" data-slider-step="1000000" 
                                    data-slider-value="[0,3000000000]" id="price-range" ><br />
                                    <a  href="{% url 'item-detail' mas_varato.pk %}"> Más economico (Actual): {{ mas_varato.precio }}</a> 
                                    <br>
                                    <a href="{% url 'item-detail' mas_costoso.pk %}">Más costoso (Actual):{{ mas_costoso.precio }}</a>
                                </div>
                                <!-- End of  -->  
                                
                                <div class="col-sm-6">
                                    <label for="property-geo">Area (m²)</label>
                                    <input type="text" name="espacio" class="span2" data-slider-min="0" 
                                    data-slider-max="5000" data-slider-step="5" 
                                    data-slider-value="[0,5000]" id="property-geo" ><br />
                                    <b class="pull-left color">40m²</b> 
                                    <b class="pull-right color">5000m²</b>
                                </div>
                                <!-- End of  -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <center><button class="btn btn-success" type="submit">Buscar</button></center>
                        </div>   
                    </div>                     
                </form>
            </div>
        </div>
        
        <div class="col-md-12  clear"> 
            <div class="col-xs-10 page-subheader sorting pl0">
                <ul class="sort-by-list">
                    <li class="active">
                        <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                            Ordenar por fecha <i class="fa fa-sort-amount-asc"></i>					
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                            Ordenar por precio <i class="fa fa-sort-numeric-desc"></i>						
                        </a>
                    </li>
                    {% if flag %}
                        <li>
                        <button class="btn btn-default btn-lg" >
                            Visualizando todos los resultados						
                        </button>
                    </li>
                    {% endif %}
                </ul><!--/ .sort-by-list-->
                
                
            </div>
            
            <div class="col-xs-2 layout-switcher">
                <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                                     
            </div><!--/ .layout-switcher-->
        </div>
        
        <div class="col-md-12 clear "> 
            <div id="list-type" class="proerty-th">
                
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item proerty-item-ads">
                        <a href="" ><img src="{% static '/img/pro-ads.jpg' %}"></a>
                    </div>
                </div> 
                
                {% for item in filtro_qs  %}
                <div class="col-sm-6 col-md-3 p0"> 
                    <div class="box-two proerty-item">
                        
                        <div class="item-thumb">
                            <a href="{% url 'item-detail' item.pk %}" ><img src="{% static item.img_principal.url %}"></a>
                        </div>
                        
                        <div class="item-entry overflow">
                            <h5><a href="{% url 'item-detail' item.pk %}"> {{ item.nombre }}</a></h5>
                            <div class="dot-hr">
                                
                            </div>
                            <span class="pull-left">
                                <b>{{ item.espacio }} m² </b>
                            </span>
                            <span class="pull-right text-primary"><b>
                                {{ item.precio }}
                            </span>
                            <br>
                            <p style="display:none;">{{ item.descripcion_general }}</p>
                            <span class="pull-left"> 
                                {{ item.tipo }}
                            </span>
                            {% if item.estado  %}
                            <span class="pull-right text-danger"> 
                                VENDIDO 
                            </span>
                            {% else %}
                            <span class="pull-right text-success">
                                DISPONIBLE 
                            </span>
                            {% endif %}
                            
                            <div class="property-icon">
                                
                                <img src="{% static 'img/icon/bed-orange.png' %}">: {{ item.alcobas }}
                                <img src="{% static 'img/icon/shawer-orange.png' %}">: {{ item.baño }}
                                {% if item.garaje %}
                                <img src="{% static 'img/icon/cars-orange.png' %}">
                                {% endif %}
                                
                            </div>
                        </div>
                        
                    </div>
                </div> 
                {% endfor %}
            </div>
            
            <div class="col-sm-6 col-md-3 p0">
                <div class="box-two proerty-item proerty-item-ads">
                    <a href="" ><img src="{% static '/img/pro-ads.jpg' %}"></a>
                </div>
            </div>
            
            
            
        </div>
    </div>
    
</div>                
</div>
</div>
{% endblock contenido %}

{% block js %}
{% if flag  %}
<script>
      $(document).ready(
      function () {
        Swal.fire({
          position: 'top-center',
          type: 'error',
          title: 'No hay resultados para la busqueda. Pero tenemos las siguiente recomendaciones...',
          showConfirmButton: false,
          timer: 5000
        })
      }
      );
    </script>
    {% endif %}
{% endblock js %}