<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

{% load static %}
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DREAM-HOME</title>
  <meta name="description" content="GARO is a real-estate template">
  <meta name="author" content="Kimarotec">
  <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet" type="text/css">
  
  <!-- Place favicon.ico and apple-touch-icon.png' %} in the root directory -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" >
  <link rel="stylesheet" href="{% static 'fonts/icon-7-stroke/css/helper.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}"  media="screen">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icheck.min_all.css' %}">
  <link rel="stylesheet" href="{% static 'css/price-range.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">  
  <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
  {% block css %}
  
  {% endblock css %}
</head>
<body>
  
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  
  <!-- Body content -->
  
  <div class="header-connect">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-8  col-xs-12">
          <div class="header-half header-call">
            <p>
              <span><i class="pe-7s-call"></i> {{ empresa.telefono }} </span>
              <span><i class="pe-7s-mail"></i> {{ empresa.correo }}</span>
            </p>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
          <div class="header-half header-social">
            <ul class="list-inline">
              <li><a href="{{ empresa.facebook }}"><i class="fa fa-facebook"></i></a></li>
              <li><a href="{{ empresa.twitter }}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{{ empresa.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="{{ empresa.instagram }}"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>            
  <!--End top header -->
  
  {% block contenido %}
  <nav class="navbar navbar-default ">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <a class="image-container" href="{% url 'base' %}"><img src="{% static empresa.logo.url %}" alt=""></a>
            </div>
            <div class="col-md-6">
              <h6 class="text-justify">{{ empresa.eslogan }}</h6>
            </div>
            <div class="col-md-3">
              <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                  <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.5s">Comprar (Proximamente)</button>
                </div>
              </div><!-- /.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of nav bar -->
  
  <div class="slider-area">
    <div class="slider">
      <div id="bg-slider" class="owl-carousel owl-theme">
        
        {% for imagen in empresa.banners.all  %}
        <div class="item"><img src="{% static imagen.imagen.url %}"></div> 
        {% endfor %}
        
      </div>
    </div>
    <div class="container slider-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
          
          
          <div class="search-form wow pulse" data-wow-delay="0.8s">
            
            
            <h2>{{ empresa.titulo }}</h2>
            
            <form method="GET" action="{% url 'filtro' %}" class="form-inline">
              <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
              
              <div class="form-group">
                <input type="text" class="form-control" name="direccion" placeholder="Buscar por dirección...">
              </div>
              <div class="form-group">                                   
                <select id="tipo_inmueble" class="selectpicker" name="tipo_vivienda" data-live-search="true" data-live-search-style="begins" title="Tipo de vivienda">
                  {% for tipo in tipos_inmueble  %}
                  <option value="{{ tipo.pk }}">{{ tipo.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
              
              <div style="display: none;" class="search-toggle">
                <div class="col-md-12">
                  <div class="search-row">
                    <div class="col-md-6 ">
                      <label for="price-range">Rango de precio ($):</label>
                      <input type="text" class="span2" name="precio"  data-slider-min="0" 
                      data-slider-max="1000000000" data-slider-step="1000000" 
                      data-slider-value="[0,7000000000]" id="price-range" ><br />
                      {% if mas_varato %}
                        <a  href="{% url 'item-detail' mas_varato.pk %}"> Más economico (Actual): {{ mas_varato.precio }}</a>
                      {% endif %}
                      <br>
                      {% if mas_costoso %}
                        <a href="{% url 'item-detail' mas_costoso.pk %}">Más costoso (Actual):{{ mas_costoso.precio }}</a>
                      {% endif %}
                      
                    </div>
                    <!-- End of  -->  
                    
                    
                    
                    <div class="col-md-6">
                      <label for="property-geo">Area (m²)</label>
                      <input type="text" name="espacio" class="span2" data-slider-min="0" 
                      data-slider-max="5000" data-slider-step="5" 
                      data-slider-value="[0,5000]" id="property-geo" ><br />
                      <b class="pull-left color">40m²</b> 
                      <b class="pull-right color">5000m²</b>
                    </div>
                    <!-- End of  --> 
                    
                  </div>
                </div>
              </div>                     
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- property area -->
  <div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
    <div class="container">   
      <div class="row">
        <div class="col-md-12  padding-top-40 properties-page">
          <div class="col-md-12 ">
            
            <div class="col-xs-12 layout-switcher">
              <h6>Tipo de vista:</h6> 
              <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a> 
              <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
              
            </div><!--/ .layout-switcher-->
          </div>
          <br>
          <div class="col-md-12 "> 
            
            <div id="list-type" class="proerty-th">
              
              
              {% for item in inmueble  %}
              <div class="col-sm-6 col-md-3 p0">
                <div class="box-two proerty-item">
                  
                  <div class="item-thumb">
                    <a href="{% url 'item-detail' item.pk %}" ><img src="{% static item.img_principal.url %}"></a>
                  </div>
                  
                  <div class="item-entry overflow">
                    <h5><a href="{% url 'item-detail' item.pk %}"> {{ item.nombre }}</a></h5>
                    <div class="dot-hr">
                      
                    </div>
                    <span class="pull-left">
                      <b>{{ item.espacio }} m² </b>
                    </span>
                    <span class="pull-right text-primary"><b>
                      {{ item.precio }}
                    </span>
                    
                    <p style="display:none;">{{ item.descripcion_general }}</p>
                    <br>
                    <span class="pull-left"> 
                      {{ item.tipo }} 
                    </span> 
                    
                    {% if item.estado  %}
                    <span class="pull-right text-danger"> 
                      VENDIDO 
                    </span>
                    {% else %}
                    <span class="pull-right text-success">
                      DISPONIBLE 
                    </span>
                    {% endif %}
                    
                    <div class="property-icon">
                      
                      <img src="{% static 'img/icon/bed-orange.png' %}">: {{ item.alcobas }}
                      <img src="{% static 'img/icon/shawer-orange.png' %}">: {{ item.baño }}
                      {% if item.garaje %}
                      <img src="{% static 'img/icon/cars-orange.png' %}">
                      {% endif %}
                      
                    </div>
                    
                  </div>
                  
                </div>
              </div> 
              {% endfor %}
              
              
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  {% endblock contenido %}
  
  <!-- Footer area-->
  <div class="footer-area">
    
    <div class=" footer">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 col-sm-6 wow fadeInRight animated">
            <div class="single-footer">
              <h4>Acerca de nosotros </h4>
              <div class="footer-title-line"></div>
              <p class="text-justify">{{ empresa.eslogan }}</p>
              <ul class="footer-adress">
                <li><i class="pe-7s-map-marker strong"> </i>{{ empresa.direccion }}</li>
                <li><i class="pe-7s-mail strong"> </i> {{ empresa.correo }}</li>
                <li><i class="pe-7s-call strong"> </i> {{ empresa.telefono }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInRight animated">
            <div class="single-footer">
              <h4>Secciones</h4>
              <div class="footer-title-line"></div>
              <ul class="footer-menu">
                <li>Proximamente</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInRight animated">
            <div class="single-footer">
              <h4>Ultimas noticias</h4>
              <div class="footer-title-line"></div>
              <ul class="footer-blog">
                <li>
                  <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                    <a href="#">
                      <img src="{% static empresa.logo.url %}">
                    </a>
                    <span class="blg-date">0-0-0</span>
                    
                  </div>
                  <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                    <h6> <a href="#">Proximamente</a></h6> 
                    <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                  </div>
                </li> 
                
                
                
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInRight animated">
            <div class="single-footer news-letter">
              <h4>¡Encuentranos con un toque!</h4>
              <div class="footer-title-line"></div>
              <p class="text-justify">Si tienes dudas o inquietudes puedes contactarnos a cualquiera de nuestras redes sociales.</p>
              
              <div class="social pull-right"> 
                <ul>
                  <li><a class="wow fadeInUp animated" href="{{ empresa.twitter }}"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="wow fadeInUp animated" href="{{ empresa.facebook }}" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="wow fadeInUp animated" href="{{ empresa.instagram }}" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="wow fadeInUp animated" href="{{ empresa.linkedin }}" data-wow-delay="0.6s"><i class="fa fa-linkedin"></i></a></li>
                </ul> 
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="footer-copy text-center">
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span> 
          </div> 
          <div class="bottom-menu pull-right"> 
            <ul> 
              <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Inicio</a></li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
  
  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
  <script src="{% static 'js/easypiechart.min.js' %}"></script>
  <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/wow.js' %}"></script>
  <script src="{% static 'js/icheck.min.js' %}"></script>
  <script src="{% static 'js/price-range.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lightslider.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/sweetalert2.min.js' %}"></script>
  
  {% block js %}
  
  {% endblock js %}
  
  </html>